html
    head
        title #{I18N_LAYOUT.title}
        link(rel='stylesheet', href='/stylesheets/pages.css')
    body.color-schema-green
        div#main
            div#header
                p.title #{I18N_LAYOUT.title}
                div.separator
                div#player-details
                div.test-box
                    div.test.color-base base
                    div.test.color-highlight highlight
                    div.test.color-light light
                    div.test.color-dark dark
                    div.test.color-darkest darkest
                div.current-user-info
                    img.current-user-image
                    div.prefix [admin]
                    div.name Mick
                div.sign-in-out
                    div.switch.logged-in sign out
            div.content
                div.chat.text-unselectable.round-box
                    div.player-list-caption Online Players
                    div#player-lobby-list.text-unselectable
                        div.online-player [admin] player 1
                        div.online-player [guest] player 2
                        div.online-player [mod] player 3
                    div#lobby-chat-container
                div.right-side

                    div.create-session.text-unselectable.round-box
                        div.caption Create session
                        div.create-session-content
                            div.input-section
                                input.input-field.game-room-name(placeholder="name of the game room")
                                input.input-field.game-room-password(placeholder="if desired, enter a password here or leave empty")
                            div.btn.create create

                    div#game-list-container.text-unselectable.round-box
                        div.game-list-header
                            div.caption Current Sessions
                            div.refresh.btn &#x21bb;
                        div.game-list-content

                            -for(var i=0; i<10;i++)
                                div.game-list-item
                                    div.game-list-item-content
                                        div.title
                                            span.room-name Mics geiler room
                                            div.title-details
                                                div.played-game
                                                    span.game-name Codenames
                                                    span.fill by
                                                    span.creator Mick
                                                div.room-details
                                                    span.users palyers 3/8
                                                    span.password.unused !{I18N_LAYOUT.password}
                                        div.btn.join join
                                    div.game-list-item-players
                                        span.player [admin] sdfsdf sdfsd
                                        span.player [admin] sdfsdf sdfsd
                                        span.player [admin] sdfsdf


            div#loading-overlay.overlay
                div.loading-content
                    div.spinner
                        div.dot1
                        div.dot2
    script.
        var I18N_DATA = !{I18N_DATA};
        var GAME_ID = "!{gameID}";
        var ERROR = "!{ERROR}";
    script(src='/js/templates.js')
    script(src='/js/page.js')