html
    head
        title #{I18N_LAYOUT.title}
        link(rel='stylesheet', href='/stylesheets/pages.css')
    body.color-schema-green
        div#main
            div#header
                p.title #{I18N_LAYOUT.title}
                div.separator
                div#player-details
                div.test-box
                    div.test.color-base base
                    div.test.color-highlight highlight
                    div.test.color-light light
                    div.test.color-dark dark
                    div.test.color-darkest darkest
                div.current-user-info
                    img.current-user-image
                    div.prefix [admin]
                    div.name Mick
                div.sign-in-out
                    -if(!isAuthenticated)
                        div.switch.logged-out
                            a(href="/login") #{I18N_LAYOUT.log_in}
                    -else
                        div.switch.logged-in
                            a(href="/logout") #{I18N_LAYOUT.log_out}
            div.content
                div.chat.text-unselectable.round-box
                    div.player-list-caption #{I18N_LAYOUT.online_players}
                    div#player-lobby-list.text-unselectable
                        div.online-player [admin] player 1
                        div.online-player [guest] player 2
                        div.online-player [mod] player 3
                    div#lobby-chat-container
                div.right-side
                    div.create-session.text-unselectable.round-box
                        div.caption #{I18N_LAYOUT.create_session}
                        div.create-session-content
                            div.input-section
                                -var room_name =I18N_LAYOUT.name_of_your_room;
                                input.input-field.game-room-name(placeholder=room_name)
                                -var room_password =I18N_LAYOUT.enter_password;
                                input.input-field.game-room-password(placeholder=room_password)
                            div.btn.create #{I18N_LAYOUT.create}
                    div#game-list-container.text-unselectable.round-box
                        div.game-list-header
                            div.caption #{I18N_LAYOUT.running_sessions}
                            div.refresh.btn &#x21bb;
                        div.game-list-content

                if(messages || errors)
                    #message
                        if(errors.length > 0)
                            div.error-message
                                each v in errors
                                    p #{I18N_LAYOUT[v]}
                        if(messages.length > 0)
                            div.info-message
                                each v in messages
                                    p #{I18N_LAYOUT[v]}

            div#loading-overlay.overlay
                div.loading-content
                    div.spinner
                        div.dot1
                        div.dot2
    script.
        var I18N_DATA = !{I18N_DATA};
        var GAME_ID = "!{gameID}";
        var ERROR = "!{ERROR}";
    script(src='/js/templates.js')
    script(src='/js/page.js')