html
    head
        title #{I18N_LAYOUT.title}
        link(rel='stylesheet', href='/stylesheets/pages.css')
        link(rel='stylesheet', href='/stylesheets/users.css')
    body(class="color-schema-"+colorName)
        div#main
            div#header.text-unselectable
                p.title #{I18N_LAYOUT.title}
                div.test-box
                    div.test.color-base base
                    div.test.color-highlight highlight
                    div.test.color-light light
                    div.test.color-dark dark
                    div.test.color-darkest darkest
                div.separator
                div.current-user-info
                    img(src="resources/default/missing_avatar.png").current-user-image
                    div.prefix [#{I18N_LAYOUT[user.status]}]
                    div.name #{user.displayName}
                    -if(!isAuthenticated)
                        div.separator
                        div.not-logged-in-sign
                            span  #{I18N_LAYOUT.not_logged_in}
                            span#sign-up.a #{I18N_LAYOUT.create_account}
                            span ?
                div.separator
                div.sign-in-out
                    -if(!isAuthenticated)
                        div.switch.logged-out
                            span#log-in #{I18N_LAYOUT.log_in}
                    -else
                        div.update-profile
                            span#show-profile #{I18N_LAYOUT.edit_profile}
                        div.switch.logged-in
                            a(href="/logout") #{I18N_LAYOUT.log_out}
            div.content
                div.chat.text-unselectable.round-box
                    div.player-list-caption #{I18N_LAYOUT.online_players}
                    div#player-lobby-list.text-unselectable
                    div#lobby-chat-container
                div.right-side
                    div.create-session.text-unselectable.round-box
                        div.caption #{I18N_LAYOUT.create_session}
                        div.create-session-content
                            div.input-section
                                -var room_name =I18N_LAYOUT.name_of_your_room;
                                input.input-field.game-room-name(placeholder=room_name)
                                -var room_password =I18N_LAYOUT.enter_password;
                                input.input-field.game-room-password(placeholder=room_password)
                            div.btn.create #{I18N_LAYOUT.create}
                    div#game-list-container.text-unselectable.round-box
                        div.game-list-header
                            div.caption #{I18N_LAYOUT.running_sessions}
                            div.refresh.btn &#x21bb;
                        div.game-list-content

                if(messages || errors)
                    #message
                        if(errors.length > 0)
                            div.error-message
                                each v in errors
                                    -var msg=fs.translate(I18N_LAYOUT,v);
                                    p #{msg}
                        if(messages.length > 0)
                            div.info-message
                                each v in messages
                                    -var msg=fs.translate(I18N_LAYOUT,v);
                                    p #{msg}

            div#loading-overlay.overlay
                div.loading-content
                    div.spinner
                        div.dot1
                        div.dot2
    -var userString = JSON.stringify(user);
    script.
        var _I18N_DATA = !{I18N_DATA};
        var _LANGUAGES = !{LANGUAGES};
        var _LANGUAGE_ID = !{LANGUAGE_ID};
        var GAME_ID = "!{gameID}";
        var ERROR = "!{ERROR}";
        var CURRENT_USER = !{userString};
    script(src='/js/templates.js')
    script(src='/js/page.js')