html
    head
        title Login
        link(rel='stylesheet', href='/stylesheets/login.css')
    body
        div.container
            h1.login-title #{I18N.login_to_app}
            div.content
                img.profile-img(src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120')
                form.form-signin(action='/login', method='POST')
                    -var mail = I18N.email;
                    input.form-control(type='text', name='username', placeholder=mail,required, autofocus)
                    -var pw = I18N.password;
                    input.form-control(type='password', name='password', placeholder=pw, required)
                    button(class='btn btn-lg btn-primary btn-block', type='submit') #{I18N.log_in}
                if(messages || errors)
                    #message
                        if(errors.length >0)
                            div.error-message
                                each v in errors
                                    p #{I18N[v]}
                        if(messages.length > 0)
                            div.info-message
                                each v in messages
                                    p #{I18N[v]}

                a.link(href='/') #{I18N.continue_without_login}
            a.link(href='/login') #{I18N.create_account}

