div.game-list-item
    div.game-list-item-content
        div.title
            span.room-name #{roomName}
            div.title-details
                div.played-game
                    span.game-name #{gameName}
                    span.fill !{I18N.by}
                    span.creator #{userName}
                div.room-details
                    span.users !{I18N.players}  #{currentPlayerCount}/#{maxPlayerCount}
                    -var pw = password;
                    -if(pw)
                        span.password.used !{I18N.password}
                    -else
                        span.password.unused !{I18N.password}
        div.btn.join !{I18N.password}
    div.game-list-item-players